<div>
   <h3>User: {{user}} </h3>
   <h3>Wallet: {{wallet}} </h3>
</div>
<button (click)="activeButton()"> Refresh Data </button>
<table>
<tr *ngIf="deliveries.length > 0">
   <th>Id</th>
   <th>Restaurant</th>
   <th>Payment</th>
   <th>Status</th>
   <th>details</th>
</tr>
<tr *ngFor="let delivery of deliveries">
   <td id="delivery-{{delivery.id}">{{delivery.id}}</td>
   <td>{{delivery.restaurant}}</td>
   <td>{{delivery.payment}}</td>
   <td>{{delivery.status}}</td>
   <td><a [routerLink] = "['/delivery', delivery.id]">details</a></td>
</tr>
</table>
