<div *ngIf="user != null && deliveries.length == 0">
   <h1>You do not have an order record, please wait for new orders.</h1>
   <img class="rounded mx-auto d-block" src="assets/img/wait.png" alt="waiting">
</div>

<div *ngIf="user == null">
   <h2>You delivery is not logged in, please login to use the system.</h2>
   <img class="rounded mx-auto d-block" src="assets/img/login.png" alt="login waiting">
</div>

<div *ngIf="user != null">
   <h3>Wallet: R$ {{wallet}} </h3>
   <h3>User: {{user}} </h3>
</div>

<table class="table">
   <thead>
      <tr *ngIf="deliveries.length > 0">
         <th scope="col">Id</th>
         <th scope="col">Restaurant</th>
         <th scope="col">Payment</th>
         <th scope="col">Status</th>
         <th scope="col">details</th>
         <button (click)="activeButton() "> Refresh Data </button>
      </tr>
   </thead>
   <tbody>
      <tr *ngFor="let delivery of deliveries">
         <th scope="row" id="delivery-{{delivery.id}">{{delivery.id}}</th>
         <td>{{delivery.restaurant}}</td>
         <td>{{delivery.payment}}</td>
         <td>{{delivery.status}}</td>
         <td><a [routerLink]="['/delivery', delivery.id]">details</a></td>
      </tr>
   </tbody>
</table>