<nav>
    <div class = "links">
        <a mat-button class = "navbar-link" name="Pagina Inicial" routerLink = "/">Home</a> <br>
        <a mat-button class = "navbar-link" name="Pagina de login" routerLink = "/login">Login</a> <br>
        <a mat-button class = "navbar-link" name="Pagina de Entregas" routerLink = "/deliveries">History</a> <br>
        <a mat-button class = "navbar-link" name="Pagina de Review" routerLink = "/reviews">Reviews</a> <br>
        <a mat-button class = "navbar-link" name="Pagina de Cadastro" routerLink = "/register">Cadastro</a> <br>
        <a mat-button class = "navbar-link" name="Pagina de suporte" routerLink = "/about">About</a>
    </div>
    <hr>
</nav>