<nav>
    <div class = "links">
        <a mat-button class = "navbar-link" id="start" name="Pagina inicial" routerLink = "/">Home</a>
        <a mat-button class = "navbar-link" name="Pagina de login" routerLink = "/login">Login</a>
        <a mat-button class = "navbar-link" name="Pagina de entregas" routerLink = "/deliveries">History</a>
        <a mat-button class = "navbar-link" name="Pagina de review" routerLink = "/reviews">Reviews</a>
        <a mat-button class = "navbar-link" name="Pagina de suporte" routerLink = "/about">About</a>
    </div>
    <hr>
</nav>