div {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  
a {
    color: red;
    font-size: large;
    text-align: center;
    text-decoration: none;
    border-radius: 3%;
}

#start {
    grid-column-start: 1;
}
br {
    border: solid 2px black;
}