<div class="allContext">
  <h3>Delivery Information</h3>

  <div class="information">
    <br>
    <p><b># Delivery: </b> {{delivery.id}} <span id="delivery-status">{{delivery.status}}</span></p>
    <p *ngIf="isPending() && seconds != 0"><b> Order expiration time:</b> {{seconds}} seconds</p>
    <p><b> Restaurant Name: </b> {{delivery.restaurant.name}}</p>
    <p><b> Restaurant Address: </b> {{delivery.restaurant.address}}</p>
    <p><b> Payment: </b> R$ {{delivery.payment}}</p>

    <div *ngIf="isCollected()">
      <p><b>Client Name: </b><span id="client-name">{{delivery.client.name}}</span></p>
      <p><b>Client Address: </b><span id="client-address">{{delivery.client.address}}</span></p>
    </div>
    
    <div class="text-center">
      <a routerLink="/deliveries">
        <button *ngIf="isFinished()" type="button" class="btn btn-light">Back</button>
      </a>

      <div *ngIf="isPending()" class="d-grid gap-2 d-md-block">
        <button id="rejected-{{delivery.id}}" (click)="reject(delivery.id)" class="btn btn-danger"
          type="button">Reject</button>
        <button id="accepted-{{delivery.id}}" (click)="accept(delivery.id)" class="text-center" class="btn btn-success"
          type="button">Accept</button>
      </div>

      <button *ngIf="isInProgress()" id="collected-{{delivery.id}}" (click)="collect(delivery.id)" type="button" class="btn btn-success">Collected</button>
      <button *ngIf="!isFinished() && isCollected()" id="finished-{{delivery.id}}" (click)="finish(delivery.id)" type="button" class="btn btn-success">Finished</button>

      <div *ngIf="isFinished()">
        <form>
          <br> Avalie o Cliente:
          <input type="number" #cScore name="cScore" min="0" max="5" value="5" />
        </form>

        <form>
          <br> Avalie o Restaurante:
          <input type="number" #rScore name="rScore" min="0" max="5" value="5" />
        </form>
        <button id="accepted-{{delivery.id}}" (click)="evaluation(cScore.value, rScore.value)">Enviar</button>
      </div>
    </div>
  </div>
</div>